*,
*:after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--brand: 279, 72%, 56%;
	--dark: 183, 100%, 5%;
	--text: 183, 100%, 15%;
	--neutral1: 186, 14%, 43%;
	--neutral2: 184, 14%, 56%;
	--neutral3: 185, 41%, 84%;
	--neutral4: 189, 41%, 97%;
	--white: 179, 41%, 99%;

	/* utils*/

	--padding: clamp(2rem, 4vw, 3rem);
}

body {
	font-family: 'Space Mono', monospace;
	font-size: 1.5rem;
	background-color: hsl(var(--neutral3));
}

.wrapper {
	display: grid;
	place-items: center;
	gap: 3rem;
}

.container {
	padding: var(--padding);
	background-color: hsl(var(--white));
	border-radius: 2rem;
	box-shadow: 0 1rem 5rem hsl(var(--neutral2));
	display: grid;
	grid-auto-flow: column;
	gap: var(--padding);
}

.form {
}

.display {
	background-color: hsl(var(--text));
	padding: var(--padding);
	border-radius: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.display-group {
	display: grid;
	gap: var(--padding);
}

.display-row {
	display: flex;
	justify-content: space-between;
	gap: var(--padding);
	align-items: center;
	text-align: left;
}

.display-label {
	display: grid;
	justify-items: start;
}

.header {
	color: hsl(var(--neutral4));
	font-size: 1rem;
}

.unit {
	color: hsl(var(--neutral2));
	font-size: 0.8rem;
}

.display-amt {
	font-size: 2rem;
	color: hsl(var(--brand));
}

.btn {
	font: inherit;
	background-color: hsl(var(--neutral2));
	color: hsl(var(--text));
  font-weight: bold;
	border: none;
	border-radius: 0.4rem;
	padding: 0.3rem 0.8rem;
	text-transform: uppercase;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.2s;
  outline: none;
}
.btn[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn:not([disabled]):hover {
	background: hsl(var(--neutral3));
}

.btn:not([disabled]):active {
  transform: scale(0.95); 
}