*,
*:after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--brand: 279, 72%, 56%;
	--dark: 183, 100%, 5%;
	--text: 183, 100%, 17%;
	--neutral1: 186, 14%, 43%;
	--neutral2: 184, 14%, 56%;
	--neutral3: 185, 41%, 84%;
	--neutral4: 189, 41%, 97%;
	--white: 179, 41%, 99%;
	--error: 12, 67%, 45%;

	/* utils*/

	--spacer: clamp(2rem, 4vw, 3rem);
	--spacer-lg: clamp(4rem, 7vw, 6.5rem);
	--rounded-sm: 0.3rem;
	--rounded-md: 0.4rem;
}

body {
	font-family: 'Space Mono', monospace;
	font-size: 1.5rem;
  padding-block: var(--spacer-lg);
	background-color: hsl(var(--neutral3));
}

/*Display component*/

.wrapper {
	display: grid;
	place-items: center;
	gap: 3rem;
  max-width: 1000px;
  margin-inline: auto;
}

.container {
	padding: var(--spacer);
	background-color: hsl(var(--white));
	border-radius: 2rem;
	box-shadow: 0 1rem 5rem hsl(var(--neutral2));
	display: grid;
	grid-auto-flow: row;
	gap: var(--padding);
}

.display {
	background-color: hsl(var(--text));
	padding: var(--spacer);
	border-radius: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 1.5rem;
  margin-left: 0;
}

.display-group {
	display: grid;
	gap: var(--spacer);
}

.display-row {
	display: flex;
	justify-content: space-between;
	gap: var(--spacer);
	align-items: center;
	text-align: left;
}

.display-label {
	display: grid;
	justify-items: start;
}

.header {
	color: hsl(var(--neutral4));
	font-size: 1rem;
}

.unit {
	color: hsl(var(--neutral2));
	font-size: 0.8rem;
}

.display-amt {
	font-size: 2rem;
	color: hsl(var(--brand));
}

.btn {
	font: inherit;
	background-color: hsl(var(--neutral2));
	color: hsl(var(--text));
	font-weight: bold;
	border: none;
	border-radius: var(--rounded-sm);
	padding: 0.3rem 0.8rem;
	text-transform: uppercase;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.2s;
	outline: none;
}
.btn[disabled] {
	opacity: 0.3;
	cursor: not-allowed;
}

.btn:not([disabled]):hover {
	background: hsl(var(--neutral3));
}

.btn:not([disabled]):active {
	transform: scale(0.95);
}

/*Form component*/

.form {
	display: grid;
	gap: var(--spacer);
}

.label-group {
	display: grid;
	gap: 0.2rem;
	text-align: left;
}

.label {
	color: hsl(var(--text));
	font-size: 1rem;
	font-weight: bold;
}

[type='number'] {
	width: 100%;
	font: inherit;
	text-align: right;
	background-color: hsl(var(--neutral3));
	border: none;
	padding: 0.2rem 0.5rem;
	border-radius: var(--rounded-sm);
}

[type='number']:focus {
	outline: none;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.icon {
	position: absolute;
	top: 50%;
	left: 0.5rem;
	transform: translate(-50%, -50%);
	margin-left: 0.7rem;
	color: hsl(279, 42%, 69%);
	pointer-events: none;
}
.number-wrapper {
	position: relative;
}

.label-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.error {
	color: hsl(var(--error));
	font-size: 1rem;
	font-weight: bold;
}

/*Tip section*/

.tip-section {
	display: grid;
	justify-items: start;
	gap: 0.5rem;
}

.tip-amount-wrapper {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(2, 1fr);
}

.tip-amount {
	position: relative;
}

[name='tip'] {
	position: absolute;
	inset: 0;
	opacity: 0;
	cursor: pointer;
}

[name='tip']:hover + .tip-btn {
	background-color: hsl(var(--neutral1));
	color: hsl(var(--text));
}

[name='tip']:checked + .tip-btn {
	background-color: hsl(var(--brand));
}

.tip-btn {
	background-color: hsl(var(--text));
	color: hsl(var(--neutral4));
	border-radius: var(--rounded-md);
	padding: 0.2rem;
}

/* media queries */

@media screen and (min-width: 768px) {
	.tip-amount-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}

	.container {
		grid-auto-flow: column;
	}

  .display{
    margin-left: 1.5rem;
  }
}
